@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
body {
  font-family: 'Arial', sans-serif;
}
.menu-container {
  @apply flex flex-col justify-center max-w-2xl mx-auto;
}
.menu-category {
  @apply bg-white rounded-md p-4 transition transform hover:shadow-md md:w-auto xsm:w-full lg:w-auto ;
}
li {
  @apply text-cyan-700;
  font-family: 'Martian Mono', monospace;
}
h2 {
  @apply text-2xl text-gray-800 mb-4;
  font-family: 'Martian Mono', monospace;
}
.men-cat-heading{
  @apply flex flex-row justify-between text-2xl text-white font-bold p-4 xl:flex-col lg:flex-col lg:justify-center lg:items-center lg:text-center lg:mb-4 lg:mt-4 lg:rounded-md lg:bg-cyan-700 lg:shadow-md lg:transform lg:hover:shadow-lg lg:hover:scale-105 lg:transition lg:duration-500 lg:ease-in-out;
}
header {
  @apply bg-gray-800 text-white p-4 text-center;
}
h1 p h3 {
  font-family: 'Martian Mono', monospace;
}

section {
  @apply max-w-2xl mx-auto bg-white p-6 shadow-md rounded-md;
}

/* h2 {
  @apply text-2xl text-gray-800 mb-4;
} */

ul {
  @apply list-none p-0;
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
